// Fuentes
$fuenteprincipal:'Raleway', sans-serif;
$fuentesecundaria:'Roboto', sans-serif;
$fuentecursiva:'Bona Nova', sans-serif;



//Meadia Queries 
$telefono:480px;
$tablet:760px;
$desktop:1024px;

//colore
$primario:#5e311e;
$secundario:#c39c63;
$negro:#000000;
$blanco:#fff;
$grisClaro:#eceeef;
$cafeClaro:#ebe7de;

//Unidades
$separacion:5rem;